body{
    border: #30d6c6;
   }
    h2{
      font-variant-caps:titling-caps;
     font-style:italic; 
    font-size:large ;
    }
    .card-container {
      display: flex;
      flex-direction: row; 
      align-items: center; 
      overflow: hidden; 
      height: 50%; 
    }
    .card {
      width: 300px; 
      margin: 10px 0; 
      background-color: #30d6c6;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.5s ease;
      transform: translateY(100%);
    }
    .card:first-child {
      transform: translateY(0); 
    }
    .card:hover {
      transform: scale(1.05);
    }
    .card-content {
      padding: 20px;
    }
    .card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .card-description {
      font-size: 14px;
      color: #666;
    }
    span{
      content: "\20BD";
    }
    .learn-more {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #007bff;
      margin-top: 10px;
    }
    button{
      background-color: black;
      color:blue;
      border-color: aqua ;
    }
    img{
      width: 110%;
    }